* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 29, 29);
    display: flex;
    flex-direction: column;
}

body, html {
    height: 100%;
}

header {
    background-color: rgb(65, 50, 50);
    padding: 20px;
    box-shadow: 0px 0px 10px 5px rgb(51, 39, 39);
    border-left: 20px solid rgb(82, 60, 60);
    position: fixed;
    width: 100%;
    display: flex;
}

header h1 {
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header #blackbox {
    margin-left: auto;
}

header p {
    margin-left: 10px;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

.messages {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.messages .chip {
    background-color: rgb(67, 65, 73);
    border-radius: 0 10px 10px 10px;
    margin-top: 20px;
    padding: 10px;
    display: inline-block;
    max-width: 40%;
}

.messages .chip.notme {
    margin-right: auto;
}

.messages .chip h2 {
    color: rgb(143, 207, 143);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    display: block;
}

.messages .chip .message {
    color: #eee;
    font-size: 16px;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

.chip .time {
    color: #bab;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
}

.messages .chip.me {
    background-color: rgb(67, 73, 65);
    border-radius: 10px 0 10px 10px;
    margin-left: auto;
    text-align: right;
}

.messages .chip.me .time {
    margin-left: 0;
    margin-right: 10px;
}

.sender {
    margin-top: auto;
    padding: 20px;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: rgb(37, 29, 29);
    left: 0;
    right: 0;
}

.sender input[type='text'] {
    width: 95%;
    padding: 10px;
    border: 0;
    border-radius: 23px;
    background-color: rgb(65, 50, 50);
    font-size: 20px;
    padding-left: 28px;
    color: #bab;
    outline: none;
}

.sender .send {
    padding: 10px 20px;
    border-radius: 50%;
    margin-left: 10px;
    background: url(images/send.png) no-repeat center center;
    background-size: 110% 110%;
}


#contextMenu {
    position: fixed;
    top: 200px;
    left: 200px;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    color: #ddd;
    display: none;
}

#contextMenu p {
    padding: 10px 60px;
    cursor: pointer;
}

#contextMenu p:hover {
    background-color: #555;
}
